%h1 Profile: #{ @profile_user.name}
%h4 Post counts: #{@profile_user.posts.length()}
%div{:class=>'row'}
  %div{:class=>'row col-sm-10'}
    - @profile_user.posts.sort_by {|obj| obj.created_at}.reverse!.each.with_index() do |post,index|
      = render 'card', post:post
  %div{:class=>'col col-sm-2'}
    = simple_form_for(@user, method: :post, url: '/follow?user_id='+@profile_user.id.to_s) do |f|
      .form-inputs
        = f.input :id,:as => :hidden
      .form-actions
        -if(@profile_user!=@user && @isFollowed)
          = f.button :submit,'Unfollow',class:'btn btn-outline-warning mt-2',action:'Unfollow'
        -elsif(@profile_user!=@user && !@isFollowed)
          = f.button :submit,'Follow',class:'btn btn-outline-primary mt-2',action:'Follow'
    - if(@user==@profile_user)
      = link_to 'create your post', "/create_post?user_id="+@user.id.to_s,class:"btn btn-outline-primary mt-2"