%h1 Listing users

%table{:class=>'display',:id=>'users-index-table',:style=>'width:100%'}
  %thead
    %tr
      %th Email
      %th Name
      %th Password digest
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.name
        %td= user.password_digest
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path

:javascript 
  $(document).ready(function() {
    $('#users-index-table').DataTable( {
        columnDefs: [ {
            targets: [ 0 ],
            orderData: [ 0, 1 ]
        }, {
            targets: [ 1 ],
            orderData: [ 1, 0 ]
        } ]
    } );
  } );