%h1 Listing follows

%table{:class=>'display',:id=>'follows-index-table',:style=>'width:100%'}
  %thead
    %tr
      %th Follower
      %th Followee
      %th
      %th
      %th

  %tbody
    - @follows.each do |follow|
      %tr
        %td= follow.follower.id
        %td= follow.followee.id
        %td= link_to 'Show', follow
        %td= link_to 'Edit', edit_follow_path(follow)
        %td= link_to 'Destroy', follow, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Follow', new_follow_path

:javascript 
  $(document).ready(function() {
    $('#follows-index-table').DataTable( {
        columnDefs: [ {
            targets: [ 0 ],
            orderData: [ 0, 1 ]
        }, {
            targets: [ 1 ],
            orderData: [ 1, 0 ]
        } ]
    } );
  } );