%h1 Listing posts

%table{:class=>'display',:id=>'posts-index-table',:style=>'width:100%'}
  %thead
    %tr
      %th User
      %th Msg
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.user
        %td= post.msg
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Post', new_post_path

:javascript 
  $(document).ready(function() {
    $('#posts-index-table').DataTable( {
        columnDefs: [ {
            targets: [ 0 ],
            orderData: [ 0, 1 ]
        }, {
            targets: [ 1 ],
            orderData: [ 1, 0 ]
        } ]
    } );
  } );